var funcA = function (source, target, context) {
  var event = source.event
  if (source.first) return
  var pageX = (event.touches[0] || event.changedTouches[0]).pageX
  // console.log('event', JSON.stringify(event))
  if (event.type === 'touchstart') {
    context.startmark = context.newmark = pageX;
  } else if (event.type === 'touchmove') {
    context.newmark = pageX
    if (context.startmark < pageX) {
      if (source.data.windowWidth * 0.75 > Math.abs(context.newmark - context.startmark)) {
        // console.log(111, JSON.stringify(event), context.newmark - context.startmark)
        return {
          style: {
            transform: 'translateX(' + (context.newmark - context.startmark) + 'px)'
          }
        }
      }
    }
    if (context.startmark > context.newmark) {
      return {
        style: {
          transform: 'translateX(' + (context.startmark - context.newmark) + 'px)'
        }
      }
    }
  } else { // touchend或者touchcancel
    context.newmark = pageX
    if (context.startmark < pageX) {
      if (source.data.windowWidth * 0.2 < Math.abs(context.newmark - context.startmark)) {
        return {
          style: {
            transform: 'translateX(' + (source.data.windowWidth * 0.75) + 'px)'
          }
        }
      }
    }
    if (context.startmark > context.newmark) {
      return {
        style: {
          transform: 'translateX(0px)'
        }
      }
    }
  }
}
module.exports = {
  func: funcA
}